body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;;
    display: flex;
    background-color: black;
}

/*Header*/
.header {
    width: 18%;
    background-color: black;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    padding: 27px 25px;
    height: 100vh;
}

.logo {
    height: 38px;
}

.header__list {
    list-style: none;
    margin:0;
    padding:0;
    margin-top: 29px;
}

.header__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: lightgray;
    transition: color 0.3s ease-in;
}

.header__link path {
    fill: lightgray;
    transition: fill 0.3s ease-in;
}

.header__link:hover {
    color: white;
}

.header__link:hover path {
    fill: white;
}

.header__link-current {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s ease-in;
    color: white;
}


.header__item:not(:last-child) {
    margin-bottom: 17px;
}

.header__link svg,.header__link-current img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.header__creat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    height: 65px;
    justify-content: space-between;
}

.button-play {
    background:none;
    outline:none;
    border:none;
    padding: 0;
    color: lightgray;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: color .3s ease-in;
}

.button-play:hover {
    color: white;
}

.button-play:hover .creat-icon {
    background-color: lightgray;
}


.header__docs {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.header__docs a {
    text-decoration: none;
    font-size: 10px;
    color: lightgray;
}

.header__docs a:not(:last-child) {
    margin-bottom: 7px;
}

.creat-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background-color: gray;
    transition:  background-color .3s ease-in;
}

.heart {
    background: linear-gradient(135deg,#450af5,#c4efd9);
}

/*Main*/
.main {
    position: relative;
    background-color: #1d1d1d;
    box-sizing: border-box;
    flex: 1;
}

.main__nav {
    position:sticky;
    z-index: 2;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 13px 35px;
    background-color:rgba(16, 16, 16,0.8);
}

.main__pag-list {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.main__pag-item {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

.main__pag-item svg {
    width: 17px;
    height: 17px;
}

.main__pag-item.left {
    transform: rotate(180deg);
}

.main__pag-item-container:not(:last-child) {
    margin-right: 18px;
}

.main__pag-search {
    align-self: stretch;
}

.main__button {
    border: none;
    outline: none;
    padding: 11px 20px;
    background-color: white;
    border-radius: 25px;
    color: black;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: transform 0.2s ease-in;
}

.main__button:hover {
    transform: scale(1.08);
}

.main__button:not(:last-child) {
    margin-right: 15px;
}

.main__button.login {
    padding-left: 35px;
    padding-right: 35px;
}

.main__button.autho {
    background-color: black;
    color: lightgray;
}

.main__content {
    padding: 20px 30px;
}

.main__head {
    color: white;
    margin-bottom: 30px;
}

.main_playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_playlist a {
    color: white;
    text-decoration: none;
}

.main_playlist > a:hover {
    text-decoration: underline;
}

.main_playlist:not(:last-child) {
    margin-bottom: 30px;
}

.main__content-list {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 20px;
    align-self: stretch;
    grid-template-columns: repeat(6,1fr);
}

.main__content-item {
    position: relative;
    background-color: rgb(23,23,23);
    border-radius: 6px;
    padding:16px;
    transition: background-color 0.2s ease-in;
}

.main__content-item:hover {
    cursor: pointer;
    background-color: rgb(39,39,39);
}

.main__content-item::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(29,185,85);
    background-image: url("../img/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 13px;
    bottom: 90px;
    right: 20px;
    transition-property: transform,opacity;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    transform: translateY(20px);
    opacity: 0;
}

.main__content-item:hover::before {
    transform: none;
    opacity: 1;
}

.main__content-item a{
    display: block;
}

.main__content-item-more a {
    flex: 1;
    padding: 16px;
}


.main__content-img {
    display:block;
    max-width:100%;
    height:auto;
    border-radius:6px;
}

.main__content-head {
    margin-top: 10px;
    font-size: 15px;
}

.main__content-desc {
    color: rgb(91,91,91);
    font-size: 12px;
    font-weight: 600;
}


/*Media*/
@media (max-width:1500px) {
    .main__content-item:nth-child(n+5) {
        display: none;
    }

    .main__content-list {
        grid-template-columns: repeat(4,1fr);
    }
    
    .button-play,.header__link,.header__link-current {
        font-size: 12px;
    }
}

@media (max-width:1200px) {
    .main__content-item:nth-child(n+4) {
        display: none;
    }

    .main__content-list {
        grid-template-columns: repeat(3,1fr);
    }

    .button-play,.header__link {
        font-size: 11px;
    }

    .creat-icon ,.header__link svg,.header__link-current img {
        margin-right: 10px;
    }

    .search {
        width: 180px;
    }
}